	<div class="fixed-bottom">
		<div class="container">
			<div class="text-center">
				<h6 class="text-dark">From Kiddo...With <span class="text-danger"><i class="fas fa-heart"></i></span></h6>
			</div>
		</div>
	</div>
	<%- include("bootstrap/boot_script"); %>
	</body>
</html>