<%- include("partials/header"); %>
<div >
	<nav class="navbar navbar-expand-lg navbar-dark bg-dark">
		<a class="navbar-brand" href="#"><strong>Hypay</strong></a>
	  <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarNav" aria-controls="navbarNav" aria-expanded="false" aria-label="Toggle navigation">
		<span class="navbar-toggler-icon"></span>
	  </button>
	  <div class="collapse navbar-collapse" id="navbarNav">
		<ul class="navbar-nav">
		  <li class="nav-item active">
			<a class="nav-link" href="#">Home <span class="sr-only">(current)</span></a>
		  </li>
		  <li class="nav-item">
			<a class="nav-link" href="#">About</a>
		  </li>
		  <li class="nav-item">
			<a class="nav-link" href="#">Pricing</a>
		  </li>
		  <li class="nav-item">
			<a class="nav-link" href="/logout">Logout</a>
		  </li>
		</ul>
	  </div>
	</nav>
	<div class="container mt-2">
		<h2 class="text-dark">Hello, <%= User.uname.toUpperCase() %> </h2>
		<div class="container mt-4">
			<div class="text-center">
				<button type="button" class="btn btn-warning btn-lg rounded-pill mt-2">My Profile</button>
				<p></p>
				<p></p>
				<button type="button" class="btn btn-danger btn-lg rounded-pill mt-2" onclick="displayDiv()">Book a Ride</button>
				<div  class="d-none" id="PathDev">
					<div class="mt-2">
						<p class="text-left">Choose your travel path ...</p>
						<p></p>
						<div class="text-primary">
							<form id="pathform" method="POST" name="pathform" action="/bookBus/<%=User.ud%>" >
								<div class="form-group">
									<label for="pickup" class="text-danger">From :</label>
									<select class="form-control" name="pickup" id="pickup" form="pathform">
									  <option value="39">Tirupur</option>
									  <option value="40">Coimbatore</option>
									</select>
								 </div>
								<p></p>
								<div class="form-group">
									<label for="pickup" class="text-danger">To :</label>
									<select class="form-control" name="drop" id="drop" form="pathform">
									  <option value="33">Chennai</option>
									  <option value="34">Vellore</option>
									</select>
								 </div>
								<button type="submit" class="btn btn-lg btn-primary rounded-pill" >Submit</button>
								<p></p>
							</form>
						</div>
					<div>
				</div>
			</div>
		</div>
	</div>
</div>
<script>
	var id = User.ud;
	function displayDiv(){ 
		var element = document.getElementById("PathDev");
  		element.classList.toggle("d-none");
	}
</script>
<%- include("partials/footer"); %>