<%- include("partials/header"); %>
<div class="container text-center">
    <p></p>
    <h1 class="text-success">Happy Journey....</h1><br>
    <a href="#">
        <img style="width: 300;height: 300;" src="https://media1.giphy.com/media/1xoqQy70KZ98v9JOLM/giphy.gif" alt="">
    </a>
    <p></p>
    <a href="/scanQR" class="border rounded border-success">Scan Next</a>
</div>
<%- include("partials/footer"); %>