<%- include("partials/header"); %>
<div class="container text-center">
    <h1 class="text-danger">Sorry ...Scan Again</h1>
    <p></p>
    <a href="#">
        <img style="width: 300;height: 300;" src="https://i.pinimg.com/originals/6e/d3/2e/6ed32e038bdfc48679157ff32edac626.gif" alt="">
    </a>
    <br>
    <a href="/scanQR">Scan Again</a>
</div>
<%- include("partials/footer"); %>